html {
    font-size: 62.5% /* 10px */;
}

body {
    background-color: #00324d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #f0f8ff;
    font-size: 1.8rem;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    margin: 3rem;
}

.coluna{
    width: 50%;
}

h1 {
    text-transform: uppercase;
}

p {
    font-style: italic;
}

button, #button {
    border-radius: .8rem;
    height: 3rem;
    background: whitesmoke;
    color: #00131d;
    font-weight: bold;
    transition: filter .15s;
    cursor: pointer;
}

button:hover, #button:hover {
    filter: brightness(1.1);
}

#selecionadorIdade {
    border-radius: .8rem;
    height: 3rem;
    background-color: whitesmoke;
    color: #00131d;
    font-weight: bold;
    cursor: pointer;
}

#area, #numero1, #numero2 {
    background-color: whitesmoke;
    border-radius: .8rem;
    cursor: pointer;
}
